html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #30404d;
}

#root {
    margin: auto;
    min-height: 100%;
}

#app {
    margin: auto;
    min-height: 100%;
}

/* IE   */
* html #app {
    height: 100%;
}